/* !space : Descendent selector */
/* !space : Descendent selector */
/* !space : Descendent selector */
/* !space : Descendent selector */
/* !space : Descendent selector */
div~p{
    background-color: brown;
}
/* attibute selector */
[id]{
    color: blue;
}
/* attribute with value*/
[id="box1"]{
    color: rgb(255, 213, 0);
}
/*body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}*/
/**{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#box{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 2px solid rgb(23, 31, 31);
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
}*/
.box-container{
    width: 300px;
    height: 300px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}
.box{
    /*width: 50px;*/
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
p{
    background-color: blanchedalmond;
    display: inline;
}
span{
    background-color: blue;
    display: block;
    width: 300px;
}
strong{
    background-color: aquamarine;
    display: inline-block;
    width: 300px;
}